In [ ]:
# Installing libraries (run this once)
!pip install pandas faker

In [1]:

# Importing libraries
from faker import Faker
import pandas as pd

# Initialize Faker object
fake = Faker()

Requirement already satisfied: pandas in /home/mashud/anaconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: faker in /home/mashud/anaconda3/lib/python3.12/site-packages (37.1.0)
Requirement already satisfied: numpy>=1.26.0 in /home/mashud/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mashud/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/mashud/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/mashud/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/mashud/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Define the structure: column name -> faker method (as string)
columns_to_generate = {
    "Name": "name",
    "Email": "email",
    "Phone": "phone_number",
    "Address": "address",
    "City": "city",
    "Job": "job",
    # "Company": "company",
    # "Text": "text",
    # "Paragraph": "paragraph",
    # "Country": "country",
    # "Postcode": "postcode",
    # "Date": "date",
    # "Date of Birth": "date_of_birth",
    # "Credit Card": "credit_card_number",
    # "SSN": "ssn",
    # "IPv4": "ipv4",
    # "MAC Address": "mac_address",
    # "URL": "url",
    # "User Agent": "user_agent",
    # "File Name": "file_name",
    # "UUID": "uuid4",
    # "Password": "password",
    # You can add or remove columns as needed
}

In [3]:
# Take input from the user for how many rows they want
row_count = int(input("Enter the number of rows you want in the dataset: "))

# Generate the dataset
data = []
for _ in range(row_count):
    row = {col: getattr(fake, method)() for col, method in columns_to_generate.items()}
    data.append(row)
df = pd.DataFrame(data)
# Display the first few rows to check
df.head()

Enter the number of rows you want in the dataset:  10

,Name,Email,Phone,Address,City,Job
0,Brittany Hamilton,tbriggs@example.org,001-481-890-3590x106,"924 David Mount Suite 405\nRiverafort, IA 52765",East Jessica,Ophthalmologist
1,Gregory Peters,phernandez@example.org,694-471-9780x155,"34473 Adam Manor\nNew Christopherfurt, WI 27745",New Rachael,Press sub
2,Rhonda Adams,ilopez@example.net,891-909-0741x225,"894 Richardson Curve\nSouth Scott, KY 88751",Lake Bethany,Drilling engineer
3,Patrick Greene,georgefigueroa@example.net,3817277588,"517 Erica Lane\nPort Thomasshire, MP 81121",Michellemouth,"Engineer, production"
4,Jerry Davis,luis88@example.net,+1-283-919-6087,"14601 Clarke Fort Suite 620\nWest Brendanberg,...",Lake Tonyland,Intelligence analyst

In [ ]:
# Save to CSV file
df.to_csv("custom_dataset.csv", index=False)
print("✅ Dataset saved as custom_dataset.csv")

In [ ]:
# Save to JSON file
df.to_json("custom_dataset.json", orient="records", lines=True)
print("✅ Dataset saved as custom_dataset.json")

In [ ]:
# Save to Excel file
df.to_excel("custom_dataset.xlsx", index=False)
print("✅ Dataset saved as custom_dataset.xlsx")